@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 236, 236, 241;
  --background-start-rgb: 52, 53, 65;
  --background-end-rgb: 52, 53, 65;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
} 